// Use the gear_dropdown.png screenshot as a style guide
.gear-dropdown li{
  position: relative;
  padding-top: 5px;
}

.gear-dropdown{
  font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;
  color: #333;
  position: absolute;
  border: 1px solid $light-gray;
  padding: 10px;
	width: 225px;
  top: 35px;
  left: -160px;
  text-align: left;
  background: white;
  z-index: 10;
  box-shadow: -1px 4px 6px 1px rgba(0,0,0,0.09);
}

.gear-dropdown .editions  {
	border-bottom: 1px solid $light-gray;
  padding-bottom: 5px;
}

.gear-dropdown .editions  li:hover{
	background-color: $light-gray;
}

.dropdown-subtitle  {
  padding-bottom: 5px;
  padding-top: 5px;
}

.help{
  color: $light-blue;
}

.help li:hover{
  text-decoration: underline;
}

.help li{
  padding-top: 5px;
}
