.col-1{
  width: 25%;
}

.col-3{
  width: 25%;
}

.col-2{
  width: 50%;

}

.content-container{
  align-items: center;
}

.col{
  padding-top: 20px;
}

.main-headline{
    line-height: 1.75rem;
    font-weight: 700;
    font-style: italic;
    font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;
    letter-spacing: .01em;
    word-spacing: -0.1em;
    font-size: 1.75em;
}
