.sections {
	display: flex;
	align-items: center;
	border-bottom: 2px solid $light-gray;
	position: relative;
	justify-content: center;
  font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;
}

.sections li{
  padding-left: 4px;
  padding-right: 4px;
  margin: 5px;
}

.sections li:hover{
  text-decoration: underline;
  cursor: pointer;
  background-color: $light-gray;
}
